@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", serif;
}

.navbar {
  @apply flex justify-between items-center w-full fixed top-0 z-10 h-[5.4rem] p-[3.2rem];
}

.nav_link {
  @apply text-2xl font-semibold text-[#181b21] mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 transition-all duration-300;
}

.car_section {
  @apply w-full h-screen;
}

.car_img {
  @apply w-full h-full object-cover;
}

.car_details {
  @apply absolute top-[20%] left-[50%] text-center;
}

.transform_50 {
  transform: translate(-50%, -50%);
}

.model_name {
  @apply text-[4rem] font-semibold text-[#393c41];
}

.tag_line {
  @apply text-2xl text-[#4c4d51] mt-[1.2rem];
}

.car_buttons {
  @apply absolute top-[85%] left-[50%];
}

.btn {
  @apply text-2xl text-white bg-[#171a20] font-medium uppercase my-2 py-[0.4rem] px-[2.4rem] rounded-[3.2rem]
  w-[25.5rem] h-16 bg-opacity-80 hover:bg-opacity-100 transition-all duration-300;
}

.inventory {
  @apply text-[#393c41] bg-white bg-opacity-60 ml-8;
}

.down_svg {
  @apply w-full h-20 mx-auto absolute top-[93%] animate-bounce;
}
